---
import { SITE } from '../site.ts'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - {SITE.author}
      </p>
    </div>
  </section>
</footer>
