---
interface Props {
  copyright: string
}

const currentYear = new Date().getFullYear()
const { copyright } = Astro.props
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - {copyright}
      </p>
    </div>
  </section>
</footer>
